.backgroundDiv{
    text-align: center;
    background-image: url("./images/campus2.jpg");
    background-position: center;
  background-repeat: no-repeat;
 background-size: cover;
    min-height: 100vh;
}

.createMainDiv{
    text-align: center;
    width:700px;
    display: inline-block;
    background: white;
    box-shadow: 5px 5px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px
}

.createMainDiv > div{
    display: block;
    padding: 10px;
 
}

.submitButton{
    margin-top: 30px !important;
  
}

.optionsDiv{
    text-align: center;
}

.formTitle{
    margin-top: 20px;
}

.inputFields{
    margin: 20px !important;
}

.formOption{
    width: 20%;
    margin: 20px;
    display: inline-block !important;

}

.LinkBox{
    text-align: center;
    width:700px;
    display: inline-block;
    background: white;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 20px;
}